@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 217 100% 100%;
		--foreground: 217 5% 10%;
		--card: 217 50% 100%;
		--card-foreground: 217 5% 15%;
		--popover: 217 100% 100%;
		--popover-foreground: 217 100% 10%;
		--primary: 217 88% 51%;
		--primary-foreground: 0 0% 100%;
		--secondary: 217 30% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: 217 30% 95%;
		--muted-foreground: 217 5% 40%;
		--accent: 217 30% 90%;
		--accent-foreground: 217 5% 15%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 217 5% 100%;
		--border: 217 30% 82%;
		--input: 217 30% 50%;
		--ring: 217 88% 51%;
		--radius: 0.75rem;
	}
	.dark {
		--background: 217 50% 10%;
		--foreground: 217 5% 100%;
		--card: 217 50% 10%;
		--card-foreground: 217 5% 100%;
		--popover: 217 50% 5%;
		--popover-foreground: 217 5% 100%;
		--primary: 217 88% 51%;
		--primary-foreground: 0 0% 100%;
		--secondary: 217 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 217 30% 25%;
		--muted-foreground: 217 5% 65%;
		--accent: 217 30% 25%;
		--accent-foreground: 217 5% 95%;
		--destructive: 0 100% 60%;
		--destructive-foreground: 217 5% 100%;
		--border: 217 30% 50%;
		--input: 217 30% 50%;
		--ring: 217 88% 51%;
		--radius: 0.75rem;
	}

	* {
		@apply box-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
